body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
}

h1,
h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

h1 {
    text-transform: uppercase;
}

.titulo-principal {
    font-size: 60px;;
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 25px;
    border-bottom: 10px solid #000;
}

.subtitulo-texto {
    font-size: 30px;
    clear: both;
}

main a {
    color: #851944;
}

p {
    text-align: justify;
    margin: 20px 0;
}

.navegacao-site {
    text-align: center;
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
}

.navegacao-site a {
    color: inherit;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-transform: lowercase;
}

.navegacao-site h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

.rodape-pagina {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-image: url(../imagens/eu-ico-small.png);
    background-position: 99% center;
    background-repeat: no-repeat;
}

.container {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.icones-redes-sociais li {
    display: inline-block;
}

.icones-redes-sociais a {
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -99999px;
}

.github {
    background-image: url(../imagens/github.png);
}

.twitter {
    background-image: url(../imagens/twitter.png);
}

.linkedin {
    background-image: url(../imagens/linkedin.png);
}

main {
    width: 80%;
    float: left;
    padding-bottom: 80px;
}

.minha-foto,
.navegacao-site {
    border-left: 10px solid black;
    border-bottom: 10px solid black;
    box-sizing: border-box;
}

.navegacao-site {
    width: 20%;
    float: right;
    position: relative;
    top: 310px;
}

.minha-foto {
    position: absolute;
    top: 0;
    right: 0;
}
