body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
}

h1,
h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

blockquote {
    background-color: #D9E5E3;
}

main h1 {
    text-align: center;
    background-color: #851944;
    color: #FFF;
}

main a {
    color: #851944;
}

p {
    text-align: justify;
}

aside {
    background-color: #3C1D3D;
    color: #F2FFFC;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

footer {
    background-color: #000;
    color: #F2FFFC;
}
